.main {
    position: relative;

}

.signatureButton {
    color: red !important;
}

.wrapper-main {
    background-size: cover;
    background: rgba(0, 0, 0, 0.73) url("img/wrapper.png");
    background-blend-mode: darken;
    width: 1366px;
    height: 768px;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-family: Verdana, sans-serif;
    color: white;
}

.wrapperButton {
    background-blend-mode: screen;
}

.logo {
    display: inline-block;
    margin-left: 155px;
    margin-top: 49px;
    font-weight: bold;
}

.logo-home {
    display: inline-block;
    background: url("img/home-logo.png");
    width: 46px;
    height: 44px;
}

.logo-text {
    margin-left: 10px;
    float: right;
    line-height: 21px;
    color: white;
}

.logo:hover .logo-text {
    color: #f26522;
    text-decoration: none;
}

.logo:hover .logo-home {
    display: inline-block;
    background: url("img/home-logo-orange.png");
    width: 46px;
    height: 44px;
}

.email {
    text-decoration: none;
    color: white;
}

.milan-size {
    font-size: 29px;

}

.holidays-size {
    font-size: 18px;
}

.logo-contact {
    float: right;
    color: white;
    text-align: right;
    margin-right: 150px;
    margin-top: 49px;
    font-size: 18px;
    font-weight: bold;
}

.tours {
    margin-right: 150px;
    width: 1060px;
    height: 600px;
    float: right;
    font-size: 18px;
}

.shopping {
    background: url("img/shopping-tours.png") no-repeat;

}

.signature {

    padding-top: 220px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.anim {
    position: absolute;
    left: -1px;
    width: 101%;
    height: 63px;
    background-color: #f26522;
    opacity: 0;
    top: 100%;
    transition: all 0.5s linear;
}

.price-from {
    font-size: 10px;
    color: white;
    text-align: left;
    padding-left: 20px;
    display: inline-block;
    margin-top: 12px;
}

.price-summa {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    padding-left: 20px
}

.details-tours {
    float: right;
    color: white;
    font-size: 14px;
    padding-right: 20px;
    margin-top: 5px;
}

.details-tours:after {
    content: " >";
    margin-left: 17px;
}

.shopping:hover .anim {
    opacity: 1;
    top: 70%;

}

.shopping:hover .signature {
    color: #f26522;
}

.img {
    float: left;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, white, black);
    border-image-slice: 1;
    position: relative;
    height: 200px;
    width: 307px;
    /*margin-left: 65px;*/
    margin-top: 35px;
    box-shadow: 20px 40px 50px rgba(0, 0, 0, 1);
}

.sightseeing {
    float: left;
    margin-left: 65px;
    background: url("img/Sightseeing-tours.png");

}

.sightseeing:hover .anim {
    opacity: 1;
    top: 70%;
}

.sightseeing:hover .signature {
    color: #f26522;
}

figure {
    margin-left: 0;
    margin-right: 0;

}

.food {
    float: right;
    background: url("img/food-tours.png");
}

.food:hover .anim {
    opacity: 1;
    top: 70%;
}

.food:hover .signature {
    color: #f26522;
}

.bars {
    margin-top: 85px;
    background: url("img/bars-nightlife.png");
}

.bars:hover .anim {
    opacity: 1;
    top: 70%;
}

.bars:hover .signature {
    color: #f26522;
}

.art {
    margin-top: 85px;
    margin-left: 65px;
    background: url("img/art-architecture.png");
}

.art:hover .anim {
    opacity: 1;
    top: 70%;
}

.art:hover .signature {
    color: #f26522;
}

.walking {
    margin-top: 85px;
    float: right;
    background: url("img/walking-tours.png");
}

.walking:hover .anim {
    opacity: 1;
    top: 70%;
}

.walking:hover .signature {
    color: #f26522;
}

.footer {
    font-weight: bold;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 40px;
}